{% extends 'catalog/base.html' %}

{% block content%}
<div class="row">
    <div class="col-12 mb-4">
        <a href="{% url 'catalog:product_create' category_pk %}" type="button" class="btn btn-sm btn-outline-secondary">Добавить товар</a>
    </div>
    {% for object in object_list%}
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <p class="card-text">{{ object.product_name }}</p>
                <span class="text-muted">{{ object.owner|default:'Без пользователя' }}</span>
            </div>
            <div class="card-footer">
                 <a class="btn btn-link" href="{% url 'catalog:product_update' object.pk%}">изменить </a>
                 <a class="btn btn-sm btn-outline-danger" href="{% url 'catalog:product_delete' object.pk%}">удалить </a>
                 <a href="{% url 'catalog:product' object.id %}" type="button" class="btn btn-sm btn-outline-secondary">К товару</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
